.data-toggle-button {
    padding: 5px;
    font-size: .85em;
    cursor: pointer;
    border: .5px solid #333;
    margin-left: 1em;
    user-select: none;
}

.rowData-container {
    display: flex;
    justify-content: space-between
}